@import "tailwindcss";

@theme {
    --color-gold-100: #ffb800;
    --color-gold-200: #ff9f00;
    --color-light-gold: #f4c24b;
    --text-huge: 8.5rem;
}

/* Apply Helvetica globally */
body {
    font-family: Helvetica, Arial, sans-serif;
  }
  