<div id="container" class="w-full min-h-screen bg-gradient-to-tr from-neutral-950 to-neutral-800 flex items-center justify-center">
	<main class="container mx-auto px-4">
	  <section id="hero" class="flex flex-col items-center justify-center text-center max-w-3xl mx-auto">
		<h1 class="text-5xl md:text-7xl font-bold text-white tracking-wider mb-6 relative">
            <span class="opacity-90">HISTAVI</span>
            <div class="absolute inset-0 blur-md opacity-30 bg-white -z-10"></div>
        </h1>

        <div class="mb-8 relative">
        <p class="text-lg text-gray-300 italic">
          "The deformation caused in the aortic root by the valve prosthesis damages the conduction system causing the need for permanent pacemaker."
        </p>
        </div>

		<div class="border-t border-neutral-700 pt-6 mt-2 w-32"></div>
		<h3 class="text-xl text-neutral-200 font-medium mt-6">
		  MCP biomarker study as a function of the deformation caused by TAVI.
		</h3>
	  </section>
	</main>
</div>
